
*.zip
*.tif
*.jp2
*.cpg
*.prj
*.sbx
*.shp
*.sbn
*.dbf
*.shx
*.mxd
*.xml
*.ovr
*.rar
*.csv
*.ipynb
*.png
data.h5
switch_cnn/__pycache__/
switch_cnn/images/
switch_cnn/sessions/
test_model/saved_model/
images/
