
*.tif
*.zip
*.dbf
*.jp2
*.sbn
*.shx
*.shp
*.sbx
*.prj
*.cpg
prueba.py
*.xml
.ipynb_checkpoints/*.ipynb
train.rar
.ipynb_checkpoints/dataset-checkpoint.ipynb
*.mxd
*.ovr
*.Png
PROYECTOS/falla.csv
training.rar
PROYECTOS/origen.csv
PROYECTOS/VIVERO/puntos_plantas/plantas_mesones_2.shp.DESKTOP-DGD52TC.13020.15464.sr.lock
data.h5
