
*.tif
*.zip
*.dbf
*.jp2
*.sbn
*.shx
*.shp
*.sbx
*.prj
*.cpg
prueba.py
*.xml
.ipynb_checkpoints/*.ipynb
train.rar
.ipynb_checkpoints/dataset-checkpoint.ipynb
*.mxd
*.ovr
*.Png
PROYECTOS/falla.csv
training.rar
PROYECTOS/origen.csv
PROYECTOS/VIVERO/puntos_plantas/plantas_mesones_2.shp.DESKTOP-DGD52TC.13020.15464.sr.lock
data.h5
train/data.rar
train/pixeles.csv
traindata.h5
train/pixeles.csv
Untitled.ipynb
Untitled1.ipynb
traindata.h5
train/pixeles.csv
traindata.h5
train/pixeles.csv
*.tfwx
*.tfw
*.lyr
*.rar
*.h5
ventanas.csv
cuentas.csv
train/25/pixeles.csv
train/25/mapa_densidad.txt
train/24/pixeles.csv
train/24/mapa_densidad.txt
cuentas.csv
corte_ventanas.ipynb
